.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.cards div {
  margin: 10px;
  /* border: 3px solid #000; */
  border: 1px solid #eee;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 200px;
  height: 100px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  top: 0;
  transition: all 0.1s ease-in;
  background-color: #fff;
}
.cards h2 {
  padding: 20px 0 0 0;
  /* color: #333; */
  color: #3f71ae;
}

.cards p {
  text-align: center;
  line-height: 1.4;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.cards div:hover {
  /* opacity: 0.7; */
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.cards input {
  padding: 10px 0 10px 5px;
  margin: 10px;
  width: 90%;
  font-weight: bold;
}

.cards button {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: #f05283;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #f05283;
  border-radius: 3px;
  font: bold 14px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
}

.cards button:hover {
  background-color: #f05283;
  transition: 0.2s;
  color: #fff;
}

.NavLink > a:link {
  text-decoration: none;
}
.NavLink > a:visited {
  text-decoration: none;
}
.NavLink > a:hover {
  text-decoration: none;
}
.NavLink > a:active {
  text-decoration: none;
}

.sec2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.sec2sub {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 5px;
  max-width: 300px;
  width: 300px;
  height: auto;
  background: #fff;
}
.secTitle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px 0 5px 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.secTitle h3,
h4 {
  margin: 0;
}
.sec2sub > ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0 0 0 20px;
  padding: 0;
}
.sec2sub > ul > li {
  list-style: none;
}
.err {
  padding: 0;
  margin: 0;
  color: #721c24 !important;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .sec-2-sub {
    max-width: 100%;
    width: 100%;
  }
}
