html {
  font-family: sans-serif;
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  background-color: #eaf0f2;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  /* color: #212529; */
  text-align: left;
  font-size: 12px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  color: #3f71ae;
}
.p15 {
  padding: 0 15px;
}
.p5 {
  padding: 0 5px;
}
.w50 {
  max-width: 50px;
}
.w75 {
  max-width: 75px;
}
.w100 {
  max-width: 100px;
}
.w150 {
  max-width: 150px;
}
.err {
  padding: 0;
  margin: 0;
  color: #721c24 !important;
  text-align: center;
}

main,
.container {
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

header {
  background-color: #292c2f;
  box-shadow: 1px 2px 2px rgba(0, 0, 0, 0.15);
  padding: 10px;
  height: 60px;
  box-sizing: border-box;
  width: 100%;
}

header h1 {
  float: left;
  font: normal 28px Cookie, Arial, Helvetica, sans-serif;
  line-height: 40px;
  margin: 0;
}

header nav {
  font: 16px Arial, Helvetica, sans-serif;
  line-height: 40px;
  float: right;
}

header a {
  padding: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.header-basic .header-limiter nav a {
  display: inline-block;
  padding: 0 5px;
  text-decoration: none;
  color: #ffffff;
  font-size: 16px;
  opacity: 0.9;
}

header nav a:hover {
  opacity: 1;
}

header nav a.selected {
  color: #608bd2;
  pointer-events: none;
  opacity: 1;
}

hr {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 0;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}

.row {
  display: -ms-flexbox;
  display: -webkit-flex; /* Safari */
  display: flex;
  align-content: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding-top: 10px;
}
.panel {
  padding: 10px;
}
.item {
  flex-grow: 1;
}
.title {
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
  font-size: 15px;
  display: -webkit-flex; /* Safari */
  -webkit-justify-content: space-between; /* Safari 6.1+ */
  display: flex;
  justify-content: space-between;
}
.col {
  -ms-flex-preferred-size: 0;
  flex-basis: 0;
  -ms-flex-positive: 1;
  flex-grow: 1;
  max-width: 100%;
}

.colAuto {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
  width: auto;
  max-width: 100%;
}
.login {
  width: 100%;
  height: auto;
  padding: 10px;
  cursor: default;
  height: auto;
}
.welcome {
  padding: 5px;
}
.welcome span {
  font-size: 13px;
  color: #444;
}
.cards {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  flex-direction: row;
  justify-content: center;
}
.cards div {
  margin: 10px;
  /* border: 3px solid #000; */
  border: 1px solid #eee;
  color: #444;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  width: 290px;
  text-align: center;
  vertical-align: middle;
  cursor: pointer;
  top: 0;
  transition: all 0.1s ease-in;
  background-color: #fff;
}
.cards h2 {
  padding: 20px 0 0 0;
  /* color: #333; */
  color: #3f71ae;
}

.cards p {
  text-align: center;
  line-height: 1.4;
  font-size: 12px;
  font-weight: bold;
  color: #999;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}
.cards div:hover {
  /* opacity: 0.7; */
  top: -2px;
  box-shadow: 0 4px 5px rgba(0, 0, 0, 0.2);
}
.cards input {
  padding: 10px 0 10px 5px;
  margin: 10px;
  width: 90%;
  font-weight: bold;
}

.cards button {
  margin: 10px;
  padding: 10px;
  font-weight: bold;
  color: #f05283;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #f05283;
  border-radius: 3px;
  font: bold 14px/1 "Open Sans", sans-serif;
  text-transform: uppercase;
}

.cards button:hover {
  background-color: #f05283;
  transition: 0.2s;
  color: #fff;
}

.NavLink > a:link {
  text-decoration: none;
}
.NavLink > a:visited {
  text-decoration: none;
}
.NavLink > a:hover {
  text-decoration: none;
}
.NavLink > a:active {
  text-decoration: none;
}
.sec2 {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  justify-content: center;
}
.sec2sub {
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.15);
  padding: 5px;
  margin: 5px;
  max-width: 300px;
  width: 300px;
  height: auto;
  background: #fff;
}
.secTitle {
  display: flex;
  flex-wrap: nowrap;
  justify-content: space-between;
  padding: 5px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.secTitle h3,
h4 {
  margin: 0;
}
.sec2sub > ul {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted rgba(0, 0, 0, 0.1);
  margin: 0 0 0 20px;
  padding: 0;
}
.sec2sub > ul > li {
  list-style: none;
}

/*
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/
@media (min-width: 1281px) {
  main,
  .container {
    max-width: 720px;
  }
}
/*
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  main,
  .container {
    max-width: 720px;
  }
}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  main,
  .container {
    max-width: 720px;
  }
}

/*
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/
@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  main,
  .container {
    max-width: 720px;
  }
}
/*
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/
@media (min-width: 481px) and (max-width: 767px) {
}
/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/
@media (min-width: 320px) and (max-width: 480px) {
  .sec-2-sub {
    max-width: 100%;
    width: 100%;
  }
}
